<thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Mã Sản Phẩm</th>
        <th scope="col" style="width: 20rem;">Tên Sản Phẩm</th>
        <th scope="col">Loại</th>
        <th scope="col">Giá</th>
        <th scope="col">Số Lượng</th>
        <th scope="col" style="width: 10rem;">Hình Ảnh</th>
        <th scope="col">Trạng Thái</th>
        <th scope="col">% Giảm</th>
        <th scope="col" style="width: 15rem;">Chức Năng</th>
    </tr>
</thead>
<tbody>
    <tr>
        <tr>
            <tr>
                <tr>
</tbody>